<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/styles.css">

    </head>


    <!-- <div class="container"> -->
        <!-- <div class="textbig"> -->
              <!-- <div class="intextbig"> -->
                  <!-- Some random petition -->
              <!-- </div> -->
        <!-- </div> -->
         <!-- <div class="form"> -->
             <!-- <body> -->
                {{{ body }}}
             <!-- </body> -->
         <!-- </div> -->
    <!-- </div> -->

</html>
