<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">

    </head>
    <body>


        {{#if loginRegister}}
           <div class="wrapper">
               <!-- <div class="whitetext"> -->
                   {{{ body }}}
               <!-- </div> -->
           </div>


       {{else}}

       <div class="petition">
           <div class="header">
               <div class="flexleft">
                   <img src="./images/treelogo.svg" alt="logo" class="logoinheader">
               </div>
               <div class="flex">
                   <div class="inheader">
                       <a href="/edit" class="headerlinks">EDIT PROFILE</a>
                   </div>
                   <div class="inheader">
                       <a href="/signers" class="headerlinks">SIGNERS</a>
                   </div>
                   <div class="inheader">
                       <a href="/thanks" class="headerlinks">THANKS</a>
                   </div>
                   <div class="inheader">
                       <a href="/logout" class="headerlinks">LOGOUT</a>
                   </div>
                   <div class="hamburgercontainer">
                       <img src="./images/menu.svg" class="hamburgermenu">
                   </div>
               </div>
           </div>


           <div class="petitioncontainer">
               <!-- <div class="form"> -->
                     {{{ body }}}
               <!-- </div> -->
            </div>
            <div class="menucontainer">
                <div>
                    <img src="./images/x.svg" class="x">
                </div>
                <div class="menulink">
                    <a href="/edit" class="amenulink">EDIT PROFILE</a>
                </div>
                <div class="menulink">
                    <a href="/signers" class="amenulink">SIGNERS</a>
                </div>
                <div class="menulink">
                    <a href="/thanks" class="amenulink">THANKS</a>
                </div>
                <div class="menulink">
                    <a href="/logout" class="amenulink">LOGOUT</a>
                </div>
            </div>
            <div class="overlay zindex">

            </div>
       </div>




        {{/if}}

    <script src="script.js"></script>
</body>


</html>
