






<div class="loginflex">
    <img src="./images/treelogo.svg" class="treelogo">
    <div class="logintext">
        Login to sign the petition
    </div>
    <div class="text">
        {{#if err}}
            Something went wrong
        {{/if}}
    </div>
    <form method="POST">
        <div class="inputs">
            <div class="input">
                <input type="email" name='email' placeholder='Email Adress' autocomplete='off'>
            </div>
            <div class="input">
                <input type="password" name='password' placeholder='Password' autocomplete='off'>
            </div>
        </div>
        <input type="submit" value="Log in" class="submit">
        <div class="text">
            If You dont't have an account: <a href="/register" class="loginregister">register</a>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
