



    <form method="POST">

        <div class="profile">
            <div class="signpetition">
                <div class="user">
                    Dear {{first}},
                </div>
                here you can sign the petition:
            </div>
            <div class="text">
                {{#if err}}
                    Something went wrong, try again!
                {{/if}}
            </div>
            <div class="canvas">
                <div>
                    <canvas class="canvas" name="canvas" width="250" height="70"></canvas>
                </div>
            </div>
            <input type="hidden" name="sign" value="empty">
            <div class="submitbtn">
                <input type="submit" value="Submit" class="submit">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </div>
    </form>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="canvas.js"></script>
