* {
    margin: 0;
    padding: 0;
    /* font-family: tahoma, arial; */
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    /* text-align: center; */
    /* margin-top: 30px; */
    /* display: flex;
    flex-direction: column; */
    /* background-color: #94d3ac; */
    overflow-x: hidden;
    /* position: relative;
    width: 100vw; */
    /* border: 6px solid yellow; */
}

/* img {
    width: 50%;
} */

canvas {
    -webkit-box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    -moz-box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    border-radius: 5px;
    /* background-color: white; */
    background-color: rgb(255, 255, 255, 0.4);
}

h1 {
    color: #ffffff;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.sign {
    width: 250px;
    -webkit-box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    -moz-box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255, 0.4);
}

.text {
    font-size: 13px;
}
/* MAIN */
/* .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
} */
.petitiontext {
    border: solid 3px black;
    width: 100%;
    height: 30vh;
    /* color: #effcef; */
}
/* Header ////////////////////////////////////////////////////////////////////*/
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-top: 30px; */
    /* padding-right: 30px; */
    margin-bottom: 20px;
    height: 95px;
    /* background-color: rgb(0, 0, 0, 0.3); */
    /* height: 50px; */
    /* border: 2px solid pink; */
}

.inheader {
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.flexleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    /* border: 2px solid pink; */
}
.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 79%;
    /* border: 2px solid pink; */
}

.logoinheader {
    /* width: 100px;
    height: 100px; */
    height: 90%;
    /* left: 100px; */
    /* width: 80%; */
    margin-top: 10px;
}
.headerlinks {
    color: white;
    /* font-weight: bold; */
    /* border: 2px solid yellow; */
    font-size: 15px;
}

.hamburgercontainer {
    display: none;
}

.hamburgermenu {
    width: 40px;
    margin-right: 25px;
}

.menucontainer {
    position: absolute;
    right: -50%;
    height: 100vh;
    width: 50%;
    top: 0px;
    /* background: black; */
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 10;
    transition: 2s;
}

.x {
    width: 30px;
    margin: 5px;
}

.menulink {
    margin: 10px;
}

.amenulink {
    color: white;
    font-size: 20px;
}

.move {
    transition-property: transform;
    transition-duration: 2s;
    transform: translateX(-100%);
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* background: pink; */
}

.zindex {
    z-index: -10;
}
/* ////////////////////////////////////////////////////////////////////////// */
/* REGISTER/LOGIN */

.wrapper {
    width: 100vw;
    height: 100vh;
    /* border: 2px solid blue; */
    background: url("./images/background1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
/* // Register containers */

/* .mobileoverlay {

} */

.gridcontainer {
    position: relative;
    /* width: 300px;
    height: 300px; */
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    grid-template-areas:
        "treelogocontainer"
        "descriptioncontainer"
        "inputscontainer";
    /* margin-top: 50px; */
    background-color: rgb(0, 0, 0, 0.4);
    /* border: 2px solid purple; */
}
.treelogocontainer {
    grid-area: treelogocontainer;
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
}
.descriptioncontainer {
    grid-area: descriptioncontainer;
    /* border: 2px solid red; */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}

.inputscontainer {
    grid-area: inputscontainer;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* //////////////// */
.loginflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 60px;
}
.treelogo {
    width: 250px;
}
.logintext {
    color: white;
}
input {
    background-color: rgb(0, 0, 0, 0.5);
    /* background-color: rgb(255, 255, 255, 0.2); */
    color: white;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 250px;
    height: 35px;
    margin: 5px;
}
input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    color: rgb(255, 255, 255, 0.7);
}
.submit {
    margin-top: 15px;
    background-color: rgb(255, 255, 255, 0.2);
}
.text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 12px;
}
.logintext {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.loginregister {
    color: green;
    font-size: 13px;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* PROFILE */
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 30px;
}
/*  //////////////////////////////////////////////////////////////////////////*/
/* PETITION NEW */
.petition {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* border: 2px solid blue; */
    background: url("./images/background1.jpg");
    background-size: cover;
    /* display: flex; */
    /* justify-content: center;intextbi
    align-items: center; */
    /* flex-direction: column; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.petitioncontainer {
    width: 100%;
    height: 90vh;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intextbig {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 130px;
    width: 300px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.signpetition {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: 20px;
    flex-direction: column;
    /* width: 280px; */
}

.user {
    width: 100%;
    font-weight: bold;
    /* margin-bottom: 5px; */
    color: white;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* PETITION */
.submitbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstlast {
    font-size: 30px;
    margin-bottom: 3px;
}
.canvas {
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ////////////////////////////////////////////////////////////////////////// */
/* THANKS */
.buttoninthanks {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 250px;
    height: 35px;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 2px solid transparent;
}
/* ////////////////////////////////////////////////////////////////////////// */
/* EDIT */
.inputdesc {
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.signcontainer {
    display: flex;
    justify-content: center;
}
/* ////////////////////////////////////////////////////////////////////////// */
/* SIGNERS */
.signers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4px;
    width: 250px;
    height: 95px;
    background-color: #effcef;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.center {
    display: flex;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}
.signersbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.allsigners {
    font-size: 16px;
    color: #655c56;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////// */
.err {
    font-style: italic;
    color: red;
}
.thankyou {
    margin-top: 20px;
    font-weight: bold;
}
.king {
    font-size: 12px;
}
.name {
    font-size: 15px;
    color: #655c56;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.marginleft {
    /* margin-left: 30px; */
    object-fit: contain;
    width: 100%;
}
.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editfields {
    width: 40%;
    padding-top: 10px;
}
/* MAIN NO HEADER */
/* .textbig {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    font-size: 35px; */
/* color: white; */
/* font-weight: 700;
    align-items: center;
    justify-content: center;
} */
.textbig2 {
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    text-align: center;
    padding-bottom: 300px;
    max-width: 400px;
}

.gif {
    text-align: center;
    margin-top: 10px;
}
.left {
    margin-left: 5px;
    margin-right: 5px;
}
/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
    .hamburgercontainer {
        display: inline;
        /* height: 100%;
        display: flex;
        align-items: center; */
    }

    .inheader {
        display: none;
    }

    /* .gridcontainer {
        height: 100vh;
        width: 100vw;
    } */

    .header {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 470px) {
    .descriptioncontainer {
        font-size: 16px;
        /* padding-left: 15px;
        padding-right: 15px; */
    }

    .flexleft {
        /* width: auto; */
    }

    .headerlinks {
        font-size: 12px;
    }

    .loginflex {
        padding: 30px;
        width: 100vw;
    }
}
