* {
    margin: 0;
    padding: 0;
    /* font-family: tahoma, arial; */
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

canvas {
    -webkit-box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    -moz-box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    border-radius: 5px;
    /* background-color: white; */
    background-color: rgb(255, 255, 255, 0.4);
}

h1 {
    color: #ffffff;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.sign {
    width: 250px;
    -webkit-box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    -moz-box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    box-shadow: -3px 0px 17px -4px rgba(5, 2, 5, 1);
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255, 0.4);
}



/* Header ////////////////////////////////////////////////////////////////////*/
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    height: 95px;
-}

.underline {
    text-decoration: underline;
}

.inheader {
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.flexleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}
.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 79%;
}

.logoinheader {
    height: 90%;
    margin-top: 10px;
}
.headerlinks {
    color: white;
    font-size: 15px;
}

.hamburgercontainer {
    display: none;
}

.hamburgermenu {
    width: 40px;
    margin-right: 25px;
}

.menucontainer {
    position: absolute;
    right: -50%;
    height: 100vh;
    width: 50%;
    top: 0px;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 10;
    transition: 2s;
}

.x {
    width: 30px;
    margin: 5px;
}

.menulink {
    margin: 10px;
}

.amenulink {
    color: white;
    font-size: 20px;
}

.move {
    transition-property: transform;
    transition-duration: 2s;
    transform: translateX(-100%);
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.zindex {
    z-index: -10;
}
/* ////////////////////////////////////////////////////////////////////////// */
/* REGISTER/LOGIN */

.wrapper {
    width: 100vw;
    height: 100vh;
    background: url("./images/background1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}


.gridcontainer {
    position: relative;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    grid-template-areas:
        "treelogocontainer"
        "descriptioncontainer"
        "inputscontainer";
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0, 0.4);
    border: 2px solid red;
}
.treelogocontainer {
    grid-area: treelogocontainer;
    display: flex;
    justify-content: center;
    border: 2px solid yellow;

}
.descriptioncontainer {
    grid-area: descriptioncontainer;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    border: 2px solid blue;
}

.inputscontainer {
    grid-area: inputscontainer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
/* //////////////// */
.loginflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 60px;
}
.treelogo {
    width: 250px;
    border: 2px solid pink;
}
.logintext {
    color: white;
}
input {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 250px;
    height: 35px;
    margin: 5px;
}
input::placeholder {
    color: white;
    color: rgb(255, 255, 255, 0.7);
}
.submit {
    margin-top: 15px;
    background-color: rgb(255, 255, 255, 0.2);
}
.text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 12px;
}
.logintext {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.loginregister {
    color: green;
    font-size: 13px;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* PROFILE */
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 30px;
    max-width: 95%;
}

.profilecontainer {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 28px;
    min-height: 400px;
}

/*  //////////////////////////////////////////////////////////////////////////*/
/* PETITION NEW */
.petition {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url("./images/background1.jpg");
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

.petitioncontainer {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intextbig {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 130px;
    width: 300px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.signpetition {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: 20px;
    flex-direction: column;
}

.user {
    width: 100%;
    font-weight: bold;
    color: white;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* PETITION */
.submitbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ////////////////////////////////////////////////////////////////////////// */
/* THANKS */
.buttoninthanks {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 250px;
    height: 35px;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 2px solid transparent;
}
/* ////////////////////////////////////////////////////////////////////////// */
/* EDIT */
.signcontainer {
    display: flex;
    justify-content: center;
}
.inputdesc {
    color: white
}
/* ////////////////////////////////////////////////////////////////////////// */
/* SIGNERS */
.allsigners {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}

.inline {
    display: flex;
    width: 300px;
    overflow-x: hidden;
    align-items: flex-start;
    color: white;
    margin: 5px;
    border-bottom: 1px solid white;
}

.signerscontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 30px;
    max-width: 95%;
}

.nobutton {
    background: transparent;
    margin: 0px;
    padding: 0px;
    border: 1px solid transparent;
}

.link {
    color: white;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
}

.beige {
    color: #faebd7;
}
/* ///////////////////////////////////////////////////////////////////////// */
/* DELETE ACCOUNT */
.textbig2 {
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    text-align: center;
    padding-bottom: 300px;
    max-width: 400px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
    .hamburgercontainer {
        display: inline;
    }

    .inheader {
        display: none;
    }

    .header {
        margin-bottom: 40px;
    }

    .gridcontainer {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 470px) {
    .descriptioncontainer {
        font-size: 16px;
    }

    .headerlinks {
        font-size: 12px;
    }

    .loginflex {
        padding: 30px;
        width: 100vw;
    }
}
